

{% extends 'welcome1.html' %}
{% block sectionTitle %}{% endblock %}
{% block content %}





     <input name="submitprint" type= "submit" value="Print Report" onclick = "openrecprint();">

    <div class="printable">
    {% for k in st %}


  <table style="margin-top:1%;margin-bottom:0.5%;font-size:0.7em;border:0.001em solid black" width="100%" class="table  table-bordered table" id="dataTables-example">
    <tr >
      <td style='border:0px solid black'>
          <img style="width: 9em; height: 10em;" src="/static/{{k.school.logo }}" alt="{{ k.studentinfo.fullname }}">
      </td>

            <td  style="border:0px solid black">

            <table >
              <span style="letter-spacing:0.02em;border:0em solid black;font-weight:bold;text-align:center;font-family:verdana;font-size:2.5em;">The Salvation Army  </span>
            </table>

            <table style="font-weight:bold;margin-top:-0%;margin-bottom:0%">
                <span style="letter-spacing:0.1em;font-size:1.2em;background-color:rled;color:wuhite">CATHERINE BOOTH SECONDARY SCHOOL</span>
            </table>

            <table style="font-weight:bold;margin-top:-0%;margin-bottom:0%">
                <span style="letter-spacing:0.1em;font-size:1.2em;background-color:red;color:white">2,  Shipeolu Street, Onipaanu shomolu Lagos</span>
            </table>
    </td>
        <td style='border:0px solid black;float:right'>
          <img style="width: 10em; height: 10em;" src="/static/{{k.studentinfo.studentpicture }}" alt="{{ k.studentinfo.fullname  }}">
      </td>

    </tr>
</table>


 <table style="margin-top:1.6%;margin-bottom:1.2%; text-size:2.2em" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
November 26, 2024
</table>

 <table style="margin-top:0.4%;margin-bottom:1%; text-size:2.2em" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
<tr>

Dear Mr & Mrs <span style="font-weight:bold">{{k.surname}}</span>,
</tr>

</table>

 <table style="margin-top:0.5%;margin-bottom:1%;justify:block; fontt-size:2.2em" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
<tr>
	I write to oficially inform you that changes were made to the way students will now access their results and other valuable confidential personal information on our results portal, owing to a number of security updates recently implemented.
</tr>

 <table style="margin-top:0.5%;margin-bottom:1%; text-size:2.2em" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
<tr>

 Consequently, your child / ward,  <span style='font-weight:bold'> {{ k.student.fullname}}</span> will now access {{k.gender}} personal data using the following details.
</tr>
<br>
<tr style="font-size:2.2em">
 <span style='font-weight:bold'>Username:</span> {{k.student.admissionno}}
 <br>
 <span style='font-weight:bold'>Password:</span>  {{k.student.surname}}
 <br>
</table>

 <table style="margin-top:0.7%;margin-bottom:1%; text-size:2.2em" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
Also, note that students who want to update their profile pages might need to provide the necessary information, using the "Update biodata" link now provided.
</table>

 <table style="margin-top:0.7%;margin-bottom:1%; text-size:2.2em" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
 Finally,in our bid to integrate you into our portal, we are working on a customized access code for you, details of which will be communicated in due course.
</table>


 <table style="margin-top:0%;margin-bottom:0%; text-size:2.2em" width="100%" class="table  table-bordered table-hover" id="dataTables-example">
Thank you,
<br>
Mr. Bramwell,
<br>
Principal
<br>
</table>


{% endfor %}

</div>





<!--  -->

    </div>

<script language="javascript" type="text/javascript">
        function openrecprint()
        {
            //alert("welcome");
            $( ".printable" ).print();
        }
</script>
{% endblock %}






