{% extends "sysadmin/base.htm" %}
{%block head %}
    {%block title %}{%endblock%}
{%endblock %}
{%block content%}
    <!-- <div align ="center" style = "width:100%;heigth:10%;background:black;color:white;font-size:18px"> CONTROL PANEL</div>-->
    <div >

       <table style="margin-top:01%;margin-bottom:0%" width="100%" class="table  table-bordered" id="dataTables-example">

    <tr style="text-align:center">
        <td style='background:blue'>
            <a style='color:white' href="/controllers/term-status/"><i class="fa fa-edit fa-fw"></i>Change Term Status</a>
        </td>
        <td>
           <a href="/controllers/reportsheet/"><i class="fa fa-edit fa-fw"></i>Reportsheet Type</a>
        </td>
        <td >
              <a  href="/controllers/reportsheet/dataentry/"><i class="fa fa-edit fa-fw"></i>Data Entry</a>
        </td>

        <!-- td>
           <a href="/cbt/stream/allstrem/"><i class="fa fa-tasks fa-fw"></i> Stream</a>
        </td> -->
    </tr>


</table>

        <div  style="background-color:#ccccc0;border:0px solid black;width:100%;height:25px; font-size:14px;color:black;text-align:center;padding-top:5px;"> SET TERM PREFERENCES  </div>
        <div  style="color:red;font-family:verdana;font-size:13px;text-decoration:blink;background-color:#ffffff;text-align:center;" > {{varerr}}</div>


 <!--       <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
            <tr>
                <td > -->

                    <form action="" method="post" name ="main" onsubmit="disable(this)">
                      <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
                            <tr>

                                <td>Status</td>
                                <td>{{ form.status}}</td>
                            </tr>
                            <tr>
                                <td>Term</td>
                                <td>{{ form.term}}</td>
                            </tr>
                    </table>
                    <table style="margin-top:-2%;margin-bottom:0.9%" width="100%" class="table  table-bordered table-hover" id="dataTables-example">

                                <td>

                                    <input name="submit" type= "submit" value="Change Type">
                                </td>

                        </table>
                    </form>
                    </table>
                <!-- </td></tr> -->

<!--             <tr>
                <td colspan="10"> -->
                 {% if getdetails %}

                    <table width="100%" class="table  table-bordered table-hover" id="dataTables-example">
                    <div style="background-color:#ccccc0;border:0px solid black;width:100%;height:25px; font-size:14px;color:black;text-align:center;padding-top:5px;"> TERM STATUS </div>
                        <tr style='text-align:center'>
                            <td ><strong>S/N</strong></td>
                            <td ><strong>Term </strong></td>
                            <td ><strong>Status</strong></td>
                            <td ><strong>Start </strong></td>
                            <td ><strong>Duration</strong></td>
                        </tr>
                        {% for pincode in getdetails %}

                            <tr style='text-align:center'>

                            <td >  {{ forloop.counter }} </td>
                            <td >  {{ pincode.term }}</td>
                            <td > {{ pincode.status }} </td>
                     <td >  <a href="#" style="color:blue" onClick= "getdialogdate({{ pincode.id  }});">{{ pincode.start_date }}</a></td>
                            <!-- <td >  {{ pincode.start_date }}</td> -->

                         <td >  <a href="#" style="color:blue" onClick= "getdialogtry({{ pincode.id  }});">{{ pincode.duration }}</a></td>
                            <!-- <td > {{ pincode.duration }} </td> -->

                        {% endfor %}
                        </tr>
                    </table>

                {% endif %}
     <!--            </td>
            </tr> -->

    </div>

<div id="myDialog" title="Edit Teacher">
    <div id="myDate" title="Edit Teacher">


    <script language="javascript" type="text/javascript">
        function disable(f)
        {
            var button = f.elements['submit'];
            button.value = 'Processing';
            button.disabled = 'true';
            return true;
        }
    </script>


<script type="text/javascript" language="javascript">
        function getdialogtry(vid){
            // alert(vid);
            var state = vid;
            var url = "/controllers/duration/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    $("#myDialog").html(html);
                    getdialog1();
                }
            });
            return false;
        }

    </script>

    <script type="text/javascript" language="javascript">
        function getdialog1(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:'auto',
                width:'auto',
                title:'Duration set Dialog box' ,
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#myDialog").dialog(dialogOpts);
        }

    </script>




<script type="text/javascript" language="javascript">
        function getdialogdate(vid){
            // alert(vid);
            var state = vid;
            var url = "/controllers/date/";
            var i = 0;
            var data='userid='+state;
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                success:function(html) {
                    //$("#myDialog").show();
                    $("#myDate").html(html);
                    getdialog();
                }
            });
            return false;
        }

    </script>

    <script type="text/javascript" language="javascript">
        function getdialog(){
            var dialogOpts = {
                autoOpen:true,
                modal:true,
                position: ["center", "middle"],
                height:"auto",
                width:"auto",
                title:' Set Resumtion Date' ,
                closeOnEscape:true,
                show: true,
                hide: true,
                bgiframe: true
            };
            $("#myDate").dialog(dialogOpts);
        }

    </script>


{%endblock%}
